* {
    color: aliceblue;
    font-family: 'Noto Sans KR', sans-serif;
}

.hidden {
    display: none;
}


.grid {
    position: relative;
    left: 50%;
    transform: translate(-50%, -20%);
    text-align: center;
    margin-bottom: -3rem;
}

#clock {
    font-size: 8rem;
    margin-bottom: 0px;
}

#greeting {
    margin-top: 0px;
    font-size: 4rem;
    margin-bottom: 10px;
}

#quote {
    font-size: 1.5rem;
}

input{
    border: 0px;
    width: 80%;
    text-align: center;
    background-color: transparent;
    text-decoration: underline;
    font-size: 2rem;
}

input:focus {
    outline:none;
}

input::placeholder {
    color: aliceblue;
}

#quote {
    font-size: 1.5rem;
}

#weather {
    margin-top: 0px;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

#todo-list {
    font-size: 1.5rem;
}
