* {
    color: blue;
    font-family: 'Noto Sans KR', sans-serif;
}

#clock {
    font-size: 8rem;
    margin-bottom: 0px;
}

#greeting {
    margin-top: 0px;
    font-size: 4rem;
    margin-bottom: 10px;
}

#quote {
    font-size: 1.5rem;
}

.grid {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.hidden {
    display: none;
}

input{
    border: 0px;
    width: 40rem;
    text-align: center;
    text-decoration: underline;
    font-size: 2rem;
}

input:focus {
    outline:none;
}

input::placeholder {
    color: blue;
}