* {
    color: aliceblue;
    font-family: 'Noto Sans KR', sans-serif;
}

.hidden {
    display: none;
}

.flexMain {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.flexMainItem {
    flex-basis: 60%;
}

#clock {
    font-size: 8rem;
    padding: 0;
    margin: 0 0;
}

.loginButton {
    border: solid aliceblue 2px;
    text-decoration: none;
}

#greeting {
    font-size: 4rem;
    margin-top: 0;
    margin-bottom: 10px;
}

#quote {
    font-size: 1.5rem;
    margin-top: 5px;
    text-align: center;
}

input{
    border: 0px;
    text-align: center;
    background-color: transparent;
    text-decoration: underline;
    font-size: 2rem;
}

input:focus {
    outline:none;
}

input::placeholder {
    color: aliceblue;
}

#todo-form{
    width: 100%;
}

#todo-form input {
    width: 100%;
}

#quote {
    font-size: 1.5rem;
}

#weather {
    margin-top: 10px;
    font-size: 2rem;
    font-weight: bold;
}

#todo-list {
    font-size: 1.5rem;
    margin-top: 10px;
    width: 80%;
    text-align: left;
}

#todo-list li {
    display: flex;
    justify-content: space-between;
}
